[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
chardet = "==3.0.4"
colorama = "==0.3.9"
funcsigs = "==1.0.2"
idna = "==2.6"
mock = "==2.0.0"
pbr = "==3.1.1"
python-termstyle = "==0.1.10"
requests = "==2.18.4"
six = "==1.11.0"
"urllib3" = "==1.22"
"backports.shutil_get_terminal_size" = "==1.0.0"
Unidecode = "==0.4.21"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
green = "==2.11.0"
asynctest = "*"

[requires]
python_version = "3.6"
